{% extends 'base.html' %}
{% block title %}
    登录
{% endblock title %}
{% block body %}
    <div class="container">
        <br>
        <h2>登录</h2>
        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}
        <form action="" method="post" class="row g-3">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="col-12">
                <label for="username">用户名</label>
                <input class="form-control" type="text" name="username" id="username" required>
            </div>
            <div class="col-12">
                <label for="password">密码</label>
                <input class="form-control" type="password" name="password" id="password" required>
            </div>
            <input class="btn btn-primary" type="submit" value="登录">
        </form>
    </div>
{% endblock body %}
