{% if router_dict.interfaces_list %}
    {% for interface in router_dict.interfaces_list %}
        interface {{ interface.interface_name }}
        ip address {{ interface.ip }} {{ interface.mask }}
        no shutdown
    {% endfor %} 
{% endif %}

{% if router_dict.ospf_dict %}
    router ospf {{ router_dict.ospf_dict.process_id }}
      router-id {{ router_dict.ospf_dict.router_id }}
      {% for n in router_dict.ospf_dict.network_list %}
        network {{ n.network }} {{ n.wildcard_mask }} area {{ n.area }}
    {% endfor %}
{% endif %}

{% if router_dict.create_users_list %}
    {% for user in router_dict.create_users_list %}
        username {{ user.username }} privilege {{ user.priv }} secret {{ user.password }}
    {% endfor %}
{% endif %}