{% extends "base.html" %}
{% from "form_helper.html" import render_field %}

{% block title %}{{ title }} - 亁颐堂NetDevOps管理平台{% endblock %}

{% block page_title %}
    {{ title }}
    <a href="{{ url_for('routers.routers') }}" class="btn btn-sm btn-secondary float-end">
        <i class="fa-solid fa-arrow-left"></i> 返回列表
    </a>
{% endblock %}

{% block content %}
<form method="POST">
    {{ form.csrf_token }}
    
    <div class="row">
        <div class="col-md-6">
            {{ render_field(form.routername) }}
        </div>
        <div class="col-md-6">
            {{ render_field(form.ip) }}
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            {{ render_field(form.device_type_id) }}
            {% if form.device_type_id.choices|length <= 1 %}
                <div class="alert alert-warning">
                    <i class="fa-solid fa-exclamation-triangle me-2"></i>
                    请先<a href="{{ url_for('devicetypes.add_devicetype') }}">添加设备类型</a>再继续。
                </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            {{ render_field(form.login_credential_id) }}
            {% if form.login_credential_id.choices|length <= 1 %}
                <div class="alert alert-warning">
                    <i class="fa-solid fa-exclamation-triangle me-2"></i>
                    请先<a href="{{ url_for('credentials.add_credential') }}">添加登录凭证</a>再继续。
                </div>
            {% endif %}
        </div>
    </div>
    
    <div class="d-flex justify-content-between mt-4">
        <a href="{{ url_for('routers.routers') }}" class="btn btn-secondary">
            <i class="fa-solid fa-times me-2"></i>取消
        </a>
        <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-save me-2"></i>保存
        </button>
    </div>
</form>
{% endblock %}